*{
    margin:0;
    padding:0;
}
.fa-solid .fa-clock-two{
    color: black;
}
.container-fluid div{
    display:inline-block;
    /*background-color: #000;*/
}
.icono_1{
    text-align: center;
    color: black;
}